

header {
    background-color: rgb(233, 66, 37);
    padding:20px;
}

main{
    background-color: rgb(247, 98, 72);
    min-height: 500px;
    padding: 50px;
}

.container{
   
    display: flex;
    flex-direction: column;
    align-self: center;

}

.box1, .box2 {
    display: flex;
    flex-direction: row;
  
    height: 200px;
   
    
}

 .box1 > div {
    width: 30%;
    font-size: x-large;
    padding: 15px;
  
  
    
}

.box2 > div {
    width: 30%;
    font-size: x-large;
    padding: 15px;
  
    
}

.box3{
    font-size: x-large;
    padding: 15px;
}
.container>div {
    width: 90%;
    padding: 20px;
    text-align: center;
    
}
ul {
    list-style-type: none;
}

input [type=text] , input [type=password] input [type=email] {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid linen;

}
.center {
    text-align: center;
}

.button{
    width: 100px;
    height: 25px;
    margin-left: 40px;
    border-radius: 3px;
    background-color: lightyellow;
    border: 2px solid linen;
    
}

.button:hover  {
    background-color:rgb(247, 98, 72);

    border: 2px solid lightsalmon;
    
}