{% load static %}
<html>
    <head>
        <script src="{% static 'orders/scripts.js' %}"></script>  
        <link rel="stylesheet" href="{% static 'orders/style.css' %}"/>
     
    </head>
    <body>
        <header>
            <h2 class="center">Pinnochio’s Pizza & Subs</h2>
        </header>
        <main id="reviewItems">
            <h3 class="title1">Review cart items</h3>
            <ol id="itemList">

            </ol>
            <h3 id="totalprice" class="title1"> </h3>
             <form >
        
            <input name="csrfToken" value="{{ csrf_token }}" type="hidden">
            <input type="submit"  id="orderbutton" class="button"  value ="Place an order">
          </form>
           <br>
           <br>
           <h3 id="ordercomplete" ></h3>
        </main>
        
    </body>

</html>