{% load static %}
<html>
    <head>
      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'orders/payment.css' %}"/>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static 'orders/scripts.js' %}"></script>  
     
    </head>
    <body>
        <header>
            <h2 class="center">Pinnochio’s Pizza & Subs</h2>
        </header>
        
        <main id="reviewItems">
            <h3 class="title1">Review cart items</h3>
            <ol id="itemList">

            </ol>
            <h3 id="totalprice" class="title1"> </h3>
             <form >
        
            <input name="csrfToken" value="{{ csrf_token }}" type="hidden">
            <input type="submit"  id="orderbutton" class="button"  value ="Place an order">
          </form>
         
        </main>
       
        <section >
       <div class="container">
          <form action="/submitOrder" method="post" id="payment-form">
           
            <div class="row">
              <div class="col-md-6">
                <label for="name">
                  Name
                </label>
                <input id="name" class="form-control" name="name" placeholder="Jenny Rosen" required>
              </div>
              <div class="col-md-6">
                <label for="email">
                  Email Address
                </label>
                <input id="email" class="form-control" name="email" type="email" placeholder="jenny.rosen@example.com" required>
              </div>
            </div>
          
            <div >
              <label for="iban-element">
                IBAN
              </label>
              <div id="iban-element"  >
                <!-- A Stripe Element will be inserted here. -->
              </div>
            </div>
            <div id="bank-name"></div><br>
          
            <button id="checkout-button" class="btn-group-justified btn">Submit Payment</button>
          
            <!-- Used to display form errors. -->
            <div id="error-message" role="alert"></div>
          
            <!-- Display mandate acceptance text. -->
            <div id="mandate-acceptance"><br>
              By providing your IBAN and confirming this payment, you authorise
              (A) Rocketship Inc.
              and Stripe, our payment service provider, to send instructions to your bank to
              debit your account and (B) your bank to debit your account in accordance with
              those instructions. You are entitled to a refund from your bank under the terms
              and conditions of your agreement with your bank. A refund must be claimed
              within 8 weeks starting from the date on which your account was debited.
            </div>
          </form>
        </div>
            </section>
            <section>
            
              <h3 id="ordercomplete" ></h3>
            </section>
    </body>

</html>