{% load static %}
<html>
    <head>
     
        <script src="{% static 'orders/scripts.js' %}"></script>  
        <link rel="stylesheet" href="{% static 'orders/style.css' %}"/>
    </head>
    <body>
        <header>
            <h2 class="center">Pinnochio’s Pizza & Subs</h2>
            <h2 class="center">Hello {{user.first_name}}</h2>
            <ul>
                <li>
                    Currently logged in as : {{user.username}}
                </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </header>

        <section class="bigcontainer" >
       
            <section class="container cart visibility" id="add">
                <p>
        
                    <h3 class=""><img src="{%static 'orders/pic_cart.png' %}"  alt="cart" >cart</h3>
                </p>
                  <ol id="itemList">

                  </ol>

                  <input type="submit"  id="orderbutton" class="button visibility"  value ="Review order">
          
            </section>

        <section class="container menu">
            <h2 class="title2">Menu</h2>
            <h2 class="title">Regular Pizza</h2>
        <div class="box1">
            
             <div>
               <ul>
                   <li>Cheese</li>
                   <li>1 topping  </li>
                   <li>2 toppings</li>
                   <li>3 toppings</li>
                   <li>Special</li>
               </ul>
             </div>
             <div> 
                  small
                  <form >
                    <label for="smallcheese"> 13.25 </label>
                    <input type="radio" id="smallcheese"  name="regular" value="small regular pizza with cheese "><br>
                    <label for="smallonetopping"> 14.25 </label>
                    <input type="radio" id="smallonetopping"   name="regular" value="small regular pizza with one topping"><br>
                    <label for="smalltwotoppings"> 15.75 </label>
                    <input type="radio" id="smalltwotoppings"   name="regular" value="small regular pizza with two toppings"><br>
                    <label for="smallthreetoppings"> 16.75 </label>
                    <input type="radio" id="smallthreetoppings"   name="regular" value="small regular pizza with three toppings"><br>
                    <label for="smallspecial"> 18.30 </label>
                    <input type="radio" id="smallspecial"   name="regular" value="small regular  pizza special"><br>
                  </form> 
             </div>
             <div>
                 large
                <form >
                  <label for="largecheese"> 18.75 </label>
                  <input type="radio" id="largecheese"   name="regular" value="large  regular  pizza with cheese"><br>
                  <label for="largeonetopping"> 20.75 </label>
                  <input type="radio" id="largeonetopping"   name="regular" value="large regular pizza with one topping"><br>
                  <label for="largetwotoppings"> 22.75 </label>
                  <input type="radio" id="largetwotoppings"  name="regular" value="large regular pizza with two toppings"><br>
                  <label for="largethreetoppings"> 24.75 </label>
                  <input type="radio" id="largethreetoppings"   name="regular" value="large regular pizza with three toppings"><br>
                  <label for="largespecial"> 26.75 </label>
                  <input type="radio" id="largespecial"   name="regular" value="large regular  pizza special ">
                </form>  
             </div>
             <div>
                 <input type="submit" id="regular" onclick="addpizza()"  class="button"  value ="add to cart">
             </div>
        </div>
        <h2 class="title">Sicilian Pizza</h2>
        <div class="box2">
           
            <div>
                <ul>
                    <li>Cheese</li>
                    <li>1 item  </li>
                    <li>2 items</li>
                    <li>3 items</li>
                    <li>Special</li>
                </ul>
            </div>
            <div>
                small
                <form >
                  <label for="smallcheeseSicilian"> 25.25 </label>
                  <input type="radio" id="smallcheeseSicilian" name="sicilian" value="small sicilian pizza with cheese "><br>
                  <label for="smalloneitem"> 27.25 </label>
                  <input type="radio" id="smalloneitem" name="sicilian" value="small sicilian pizza with one topping" ><br>
                  <label for="smalltwoitems"> 29.75 </label>
                  <input type="radio" id="smalltwoitems" name="sicilian" value="small sicilian pizza with two toppings" ><br>
                  <label for="smallthreeitems"> 31.25 </label>
                  <input type="radio" id="smallthreeitems" name="sicilian" value="small sicilian pizza with three toppings" ><br>
                  <label for="smallspecialSicilian"> 32.25 </label>
                  <input type="radio" id="smallspecialSicilian" name="sicilian" value="small sicilian pizza special" >
                </form> 
            </div>
            <div>
                large
                <form >
                  <label for="largecheeseSicilian"> 39.70 </label>
                  <input type="radio" id="largecheeseSicilian" name="sicilian" value="large sicilian pizza with cheese" ><br>
                  <label for="largeoneitem"> 41.70 </label>
                  <input type="radio" id="largeoneitem" name="sicilian" value="large sicilian pizza with one topping"><br>
                  <label for="largetwoitems"> 43.70 </label>
                  <input type="radio" id="largetwoitems" name="sicilian"value="large sicilian pizza with two toppings"><br>
                  <label for="largethreeitems"> 45.70 </label>
                  <input type="radio" id="largethreeitems" name="sicilian" value="large sicilian pizza with three toppings"><br>
                  <label for="largespecialSicilian"> 46.70 </label>
                  <input type="radio" id="largespecialSicilian" name="sicilian" value="large sicilian pizza special">
                </form>  
            </div>
           <div>
             </div>
             <input type="submit" id="sicilian" onclick="addpizza()" class="button"  value ="add to cart">
           </div>
        </div>
        <h2 class="title1" >Toppings</h2>
        <div class="box3">
            <div>
            <form >
            <label for="Pepperoni"> Pepperoni </label>
            <input type="radio" id="Pepperoni" name="topping" value=Pepperoni><br>
            <label for="Sausage"> Sausage </label>
            <input type="radio" id="Sausage" name="topping" value=Sausage><br>
            <label for="Mushrooms"> Mushrooms </label>
            <input type="radio" id="Mushrooms" name="topping" value=Mushrooms><br>
            <label for="Onions"> Onions </label>
            <input type="radio" id="Onions" name="topping" value=Onions><br>
            <label for="Ham"> Ham </label>
            <input type="radio" id="Ham" name="topping" value=Ham><br>
            <label for="Canadian Bacon"> Canadian Bacon</label>
            <input type="radio" id="Canadian Bacon" name="topping" value="Canadian Bacon"><br>
            <label for="Pineapple"> Pineapple</label>
            <input type="radio" id="Pineapple" name="topping" value=Pineapple><br> 
            <label for=" Eggplant">  Eggplant</label>
            <input type="radio" id=" Eggplant" name="topping" value= Eggplant><br> 
            <label for="  Tomato & Basil">   Tomato & Basil</label>
            <input type="radio" id=" Tomato & Basil" name="  Tomato & Basil" value= "Tomato & Basil"><br> 
            <label for=" Green Peppers">  Green Peppers</label>
            <input type="radio" id=" Green Peppers" name="topping" value=  "Green Peppers"><br> 
            <label for="    Hamburger">     Hamburger</label>
            <input type="radio" id="Hamburger" name="topping" value= Hamburger><br> 
            <label for="Spinach"> Spinach</label>
            <input type="radio" id="Spinach " name="topping" value= Spinach><br> 
            <label for=" Artichoke">  Artichoke</label>
            <input type="radio" id=" Artichoke " name=" topping" value= Artichoke><br> 
            <label for=" Buffalo Chicken">Buffalo Chicken</label>
            <input type="radio" id="Buffalo Chicken" name="topping" value= "Buffalo Chicken"><br> 
            <label for="Barbecue Chicken">Barbecue Chicken</label>
            <input type="radio" id="Barbecue Chicken" name="topping" value="Barbecue Chicken"><br> 
            <label for="Anchovies">Anchovies</label>
            <input type="radio" id="Anchovies" name="topping" value=Anchovies><br> 
            <label for=" Black Olives"> Black Olives</label>
            <input type="radio" id=" Black Olives" name="topping" value= "Black Olives"><br> 
            <label for="Fresh Garlic">Fresh Garlic</label>
            <input type="radio" id=" Fresh Garlic" name=" topping" value= "Fresh Garlic"><br> 
            <label for="Zucchini">Zucchini</label>
            <input type="radio" id="Zucchini" name="topping" value= Zucchini><br> 
        </form>
              
        </div>
        <div>
            <input type="submit" id="topping" onclick="addtopping()"  class="button" value ="add to cart">
        </div>

        </div>
        <div class="box4">
            <h2>Subs</h2>
        </div>
        <div class="box5">
            <h2>Pasta</h2>
        </div>
        <div class="box6">
            <h2>Salads</h2>
        </div>
        <div class="box7">
            <h2>Dinner Platters</h2>
        </div>
    </section>
</section>
    </body>
</html>