{% load static %}
<html>
    <head>
     
        <script src="{% static 'orders/scripts.js' %}"></script>  
        <link rel="stylesheet" href="{% static 'orders/style.css' %}"/>
      

    </head>
    <body>
        <header>
            <h2 class="center">Pinnochio’s Pizza & Subs</h2>
            <h2 class="center">Hello {{user.first_name}}</h2>
            <ul>
                <li>
                    Currently logged in as : {{user.username}}
                </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </header>

        <section class="bigcontainer" >
       
            <section class="container cart visibility" id="add">
                <p>
        
                    <h3 class=""><img src="{%static 'orders/pic_cart.png' %}"  alt="cart" >cart</h3>
                </p>
                  <ol id="itemList">

                  </ol>
                  <h3 id="totalprice" class="center"> </h3>
                  <form action="{% url 'review' %}" method="post">
                    {% csrf_token %}
                  <input type="submit"  id="reviewbutton" class="button visibility"  value ="Review order">
                </form>
            </section>

        <section class="container menu">
            <h2 class="title2">Menu</h2>
            <h2 class="title">Regular Pizza</h2>
        <div class="box1">
            
             <div>
               <br>
                <ul>
                    {% for pizza in pizza %}
                    {%if pizza.size == "small" and pizza.name == "Regular Pizza" %}
                    <li>
                        {%if pizza.toppingQuantity != 0%}
                        {{pizza.toppingQuantity}} Toppings
                        {%else%}
                        with cheese
                        {%endif%}
                   </li>
                   {% endif %}
                 {% endfor %}
            </ul>
             </div>
             <div> 
               <h5>small</h5> 
                <ul>
                   
                    {% for pizza in pizza%}
                    {%if pizza.size == "small" and  pizza.name == "Regular Pizza" %}
                    <li>
                        {%if pizza.toppingQuantity != 0 %}
                        <label for="{{pizza.size}}{{pizza.name}}{{pizza.toppingQuantity}}" > {{pizza.price}}</label>
                        <input type="radio" id="{{pizza.size}}{{pizza.name}}{{pizza.toppingQuantity}}"name="regular" value="{{pizza.size}} {{pizza.name}} with {{pizza.toppingQuantity}} toppings {{pizza.price}}" >
                        {%else%}
                        <label for="{{pizza.size}}{{pizza.name}} with Cheese" > {{pizza.price}}</label>
                        <input type="radio" id="{{pizza.size}}{{pizza.name}} with Cheese"  name="regular" value="{{pizza.size}} {{pizza.name}} with Cheese {{pizza.price}}" >
                        {%endif%}
                   </li>
                   {%endif%}
                 {% endfor %}
            </ul>
             </div>
             <div>
                <h5>large</h5> 
                <ul>
                    {% for pizza in pizza%}
                    {%if pizza.size == "large" and  pizza.name == "Regular Pizza" %}
                    <li>
                        {%if pizza.toppingQuantity != 0 %}
                        <label for="{{pizza.size}}{{pizza.name}}{{pizza.toppingQuantity}}" > {{pizza.price}}</label>
                        <input type="radio" id="{{pizza.size}}{{pizza.name}}{{pizza.toppingQuantity}}"name="regular" value="{{pizza.size}} {{pizza.name}} with {{pizza.toppingQuantity}} toppings {{pizza.price}}" >
                        {%else%}
                        <label for="{{pizza.size}}{{pizza.name}} with Cheese" > {{pizza.price}}</label>
                        <input type="radio" id="{{pizza.size}}{{pizza.name}} with Cheese"  name="regular" value="{{pizza.size}} {{pizza.name}} with Cheese {{pizza.price}}" >
                        {%endif%}
                   </li>
                   {%endif%}
                 {% endfor %}
            </ul>
             </div >
             <div>
                 <br>
                 <input type="submit" id="regular" onclick="addpizza()"  class="button round"  value ="add pizza">
             </div>
        </div>
        <h2 class="title">Sicilian Pizza</h2>
        <div class="box2">
           
            <div>
                <br>
                <ul>
                    {% for pizza in pizza %}
                    {%if pizza.size == "small" and pizza.name == "Sicilian Pizza" %}
                  
                        <li>
                            {%if pizza.toppingQuantity != 0%}
                            {{pizza.toppingQuantity}} items
                            {%else%}
                            with cheese
                            {%endif%}
                       </li>
                   
                   {% endif %}
                 {% endfor %}
            </ul>
            </div>
            <div>
                <h5>small</h5> 
                <ul>
                    {% for pizza in pizza%}
                    {%if pizza.size == "small" and  pizza.name == "Sicilian Pizza" %}
                    <li>
                        {%if pizza.toppingQuantity != 0 %}
                        <label for="{{pizza.size}}{{pizza.name}}{{pizza.toppingQuantity}}" > {{pizza.price}}</label>
                        <input type="radio" id="{{pizza.size}}{{pizza.name}}{{pizza.toppingQuantity}}"name="sicilian" value="{{pizza.size}} {{pizza.name}} with {{pizza.toppingQuantity}} toppings {{pizza.price}}" >
                        {%else%}
                        <label for="{{pizza.size}}{{pizza.name}} with Cheese" > {{pizza.price}}</label>
                        <input type="radio" id="{{pizza.size}}{{pizza.name}} with Cheese"  name="sicilian" value="{{pizza.size}} {{pizza.name}} with Cheese  {{pizza.price}}" >
                   
                        {%endif%}
                   </li>
                   {%endif%}
                 {% endfor %}
            </ul>
            </div>
            <div>
                <h5>large</h5> 
                <ul>
                    {% for pizza in pizza%}
                    {%if pizza.size == "large" and  pizza.name == "Sicilian Pizza" %}
                    <li>
                        {%if pizza.toppingQuantity != 0 %}
                        <label for="{{pizza.size}}{{pizza.name}}{{pizza.toppingQuantity}}" > {{pizza.price}}</label>
                        <input type="radio" id="{{pizza.size}}{{pizza.name}}{{pizza.toppingQuantity}}"name="sicilian" value="{{pizza.size}} {{pizza.name}} with {{pizza.toppingQuantity}} toppings  {{pizza.price}}" >
                        {%else%}
                        <label for="{{pizza.size}}{{pizza.name}} with Cheese" > {{pizza.price}}</label>
                        <input type="radio" id="{{pizza.size}}{{pizza.name}} with Cheese"  name="sicilian" value="{{pizza.size}} {{pizza.name}} with Cheese {{pizza.price}} " >
                        {%endif%}
                   </li>
                   {%endif%}
                 {% endfor %}
            </ul> 
            </div>
           <div>
            <br>
             <input type="submit" id="sicilian" onclick="addpizza()" class="button round"  value ="add pizza">
           </div>
        </div>
        <h2 class="title1" >Toppings</h2>
        <div class="box3">
            <div>
                <ul>
                    {% for name in toppings%}
                    <li>
                        <label for="{{name.topping}}" > {{name.topping}}</label>
                        <input type="radio" id="{{name.topping}}" name="topping" value="{{name.topping}}">
                   </li>
                 {% endfor %}
            </ul>
        </div>
        <div>
            <br>
            <input type="submit" id="topping" onclick="addtopping()"  class="button round" value ="add topping">
        </div>

        </div>
        <h2 class="title2">Subs</h2>
        <div class="box4">
            <div class="grow">
                <br>
                <ul>
                    {% for sub in subs%}
                    {%if sub.subSize == "large" %}
                    <li>
                      {{sub.subName}}
    
                   </li>
                  
                   {%endif%}
                   {% endfor %}
            </ul>
            </div>
            <div class="shrink">
                <h5>small</h5> 
            <ul>
                {% for sub in subs%}
                {%if sub.subSize == "small" %}
                <li>
                    {%if sub.price != -1.0 %} <!--we need to incorporate both small and large menu items even if there no for given item, this is  to have symmetry , for this reason we can use -1 value for signaling that there is no item for this size in the menu-->
                    <label for="{{sub.subName}}" > {{sub.price}}</label>
                    <input type="radio" id="{{sub.subName}}" name="sub" value="{{sub.subName}} {{sub.price}}">
                    {%else%}
                      -<br>
                    {%endif%}
               </li>
             
               {% endif %}
               {% endfor %}
        
        </ul>
    </div>
            <div class="shrink">
                <h5>large</h5> 
                <ul>
                    {% for sub in subs%}
                    {%if sub.subSize == "large"  %}
                    <li>
                        {%if sub.price != -1.0 %}
                        <label for="{{sub.subName}}" > {{sub.price}}</label>
                        <input type="radio" id="{{sub.subName}}" name="sub" value="{{sub.subName}} {{sub.price}}">
                        {%else%}
                           <br>
                        {% endif %}
                   </li>
                   
                   {% endif %}
                 {% endfor %}
            </ul>
            </div>
            <div>
                <h5>sub adds</h5> 
                <ul>
                    {% for sub in subs%}
                    {%if sub.subSize == "large"  %}
                    <li>
                        <select  class="adds">
                            <option  selected  name="adds" value="" >Select</option>
                            {% for adds in sub.adds.all%}  
                            <option  name= "adds" value="{{adds.addsName}} {{adds.price}}">{{adds.addsName}}</option>
                            {% endfor %}
                        </select>
                    </li>
                    {%endif%}
                    {% endfor %}
                </ul>
                
            </div>
            <div class="shrink">
                <br>
                <input type="submit" id="sub"  onclick="addpizza()" class="button round" value ="add sub">
                <br><br>
                <input type="submit" id="adds" onclick="subadd()" class="button round" value ="+ subadd">
            </div>
           
        </div>
        <h2 class="title">Pasta</h2>
        <div class="box5">
           
            <div id="pastamenu">
                <ul>
                    {% for pasta in pasta %}
                    <li>
                      {{pasta.pastaName}} 
                   </li>
                 {% endfor %}
            </ul>
              </div>
            <div >
                <ul>
                    {% for pasta in pasta %}
                    <li>
                        <label for="{{pasta.pastaName}}" > {{pasta.price}}</label>
                        <input type="radio" id="{{pasta.pastaName}}" name="pasta" value="{{pasta.pastaName}} {{pasta.price}}">
                   </li>
                 {% endfor %}
            </ul>
        </div>
        <div>
            <br>
            <input type="submit" id="pasta"  onclick="addpizza()" class="button round" value ="add pasta">
        </div>
    </div>
        <h2 class="title">Salads</h2>
        <div class="box6">
            <div>
                <ul>
                    {% for salad in salads %}
                    <li>
                      {{salad.saladName}} 
                   </li>
                 {% endfor %}
            </ul>
              </div>
              <div>
                <ul>
                    {% for salad in salads %}
                    <li>
                        <label for="{{salad.saladName}}" > {{salad.price}}</label>
                        <input type="radio" id="{{salad.saladName}}" name="salad" value="{{salad.saladName}} {{salad.price}}">
                   </li>
                 {% endfor %}
            </ul>
            </div>
            <div>
                <br>
                <input type="submit" id="salad" onclick="addpizza()"  class="button round" value ="add salad">
            </div>
        </div>
        <h2 class="title">Dinner Platters</h2>
        <div class="box7">
           
          
            <div>
                <br>
                <ul>
                    {% for platter in platters %}
                    {%if platter.size == "small" %}
                    <li>
                      {{platter.dinnerplatter}} 
                   </li>
                   {% endif %}
                 {% endfor %}
            </ul>
            </div>
           
            <div>
                <h5>small</h5> 
            <ul>
                {% for platter in platters %}
                {%if platter.size == "small" %}
                <li>
                    <label for="{{platter.dinnerplatter}}" > {{platter.price}}</label>
                    <input type="radio" id="{{platter.dinnerplatter}}" name="platter" value="{{platter.dinnerplatter}} {{platter.price}}">
               </li>
               {% endif %}
             {% endfor %}
        </ul>
    </div>
              
            <div>
                <h5>large</h5> 
                <ul>
                    {% for platter in platters %}
                    {%if platter.size == "large" %}
                    <li>
                        <label for="{{platter.dinnerplatter}}" > {{platter.price}}</label>
                        <input type="radio" id="{{platter.dinnerplatter}}" name="platter" value="{{platter.dinnerplatter}} {{platter.price}}">
                   </li>
                   {% endif %}
                 {% endfor %}
            </ul>
            </div>
            <div>
                <br>
                <input type="submit" id="platter" onclick="addpizza()"  class="button round" value ="add platter">
            </div>
        </div>
        </div>
        
    </section>
</section>

    </body>
</html>